asgiref==3.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.1
idna==3.4
image==1.5.33
instagrapi @ git+https://github.com/adw0rd/instagrapi.git@8759a17ab02c0987baf68049692c5888a1015058
lxml==4.9.2
Pillow==9.5.0
pycryptodomex==3.17
pydantic==1.10.7
PySocks==1.7.1
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.5.0
urllib3==2.0.2
